<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :record_date %>
  </div>

  <div class="field">
    <%= form.label :doctor_name %>
    <%= form.text_field :doctor_name, id: :record_doctor_name %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id, id: :record_patient_id %>
  </div>

  <div class="field">
    <%= form.label :record_id %>
    <%= form.number_field :record_id, id: :record_record_id %>
  </div>

  <div class="field">
    <%= form.label :medications %>
    <%= form.text_field :medications, id: :record_medications %>
  </div>

  <div class="field">
    <%= form.label :treatment %>
    <%= form.text_field :treatment, id: :record_treatment %>
  </div>

  <div class="field">
    <%= form.label :reason_for_visit %>
    <%= form.text_field :reason_for_visit, id: :record_reason_for_visit %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :record_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
