<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Doctor name</th>
      <th>Patient</th>
      <th>Record</th>
      <th>Medications</th>
      <th>Treatment</th>
      <th>Reason for visit</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.date %></td>
        <td><%= record.doctor_name %></td>
        <td><%= record.patient_id %></td>
        <td><%= record.record_id %></td>
        <td><%= record.medications %></td>
        <td><%= record.treatment %></td>
        <td><%= record.reason_for_visit %></td>
        <td><%= record.notes %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
