<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @record.doctor_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @record.patient_id %>
</p>

<p>
  <strong>Record:</strong>
  <%= @record.record_id %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @record.medications %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @record.treatment %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @record.reason_for_visit %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @record.notes %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
