<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @patient.eye_color %>
</p>

<p>
  <strong>Race:</strong>
  <%= @patient.race %>
</p>

<p>
  <strong>Height:</strong>
  <%= @patient.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @patient.picture_url %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @patient.blood_type %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
